#Entrance{
    width: 750px;
    height: 885px;
    margin: 0px auto;
    font-family: 'Comic relief', monospace;
    font-size: 32px;
    position: relative;
    top: -20px;
}
.entr_bg{
    background-color: #B2C8FF;
    color: #070062;
    width: 750px;
    height: 840px;
    border-radius: 20px;
    margin: 0px auto;
    text-align: center;
}
.entr_fill{
    width: 700px;
    height: 620px;
    margin: 110px auto;
    position: relative;
    top: 110px;
}
h1{
    height: 90px;
    font-size: 64px;
    margin-bottom: 80px;
}
input{
    background-color: #efefff;
    width: 660px;
    height: 75px;
    font-family: 'Comic relief', monospace;
    font-size: 24px;
    padding: 0px 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    border-style: none;
}
input:focus{
    background-color: white;
}
label{
    height: 45px;
    display: block;
    text-align: start;
}
.eye_butt{
    width: 55px;
    height: 55px;
    background-color: rgba(1, 1, 1, 0);
    border-style: none;
    padding: 0px;
    display: block;
}
.eye_butt>img{
    width: 55px;
    height: 55px;
}
#eye_close1{
    position: relative;
    bottom: 395px;
    left: 650px;
    cursor: pointer;
}
#eye_close2{
    position: relative;
    bottom: 280px;
    left: 650px;
    cursor: pointer;
}
#entr_butt{
    background-color: #070062;
    color: #efefff;
    width: 350px;
    height: 80px;
    font-family: 'Comic relief', monospace;
    font-size: 32px;
    border-radius: 10px;
    border-style: none;
    display: block;
    margin: 30px auto 0px;
    transition: background-color 0.5s, color 0.5s;
}
#entr_butt:hover{
    background-color: #6277bc;
    color: #efefff;
}
#a{
    width: 280px;
    display: block;
    margin: 0px auto;
    text-decoration: none;
    text-align: center;
}
#a:hover{
    color: #6277bc;
}

::selection{
    background-color: #6277bc;
    color: #efefff;
}