/* :root {
    --bg-color: #222676;
    --bg-sub-color: #171260;
    --btn-bg: #efefff;
    --btn-text: #171260;
    --btn-hover: #5267af;
} */

:root {
    --bg-color: #ffffff;
    --bg-sub-color: #b2c8ff;
    --btn-bg: #5267af;
    --btn-text: #efefff;
    --btn-hover: #171260;
}

body.dark-theme {
    --bg-color: #222676;
    --bg-sub-color: #171260;
    --btn-bg: #efefff;
    --btn-text: #171260;
    --btn-hover: #5267af;
}

body, button{
    background-color: var(--bg-color);
    font-family: 'Comic Relief', monospace;
    margin: 0px;
}

#appt_inf{
    background-color: var(--bg-sub-color);
    width: 1420px;
    height: calc(100vh - 70px);
    padding: 70px 0px 0px;
    margin: 0px auto;
}

#appt_fill{
    background-color: #efefff;
    width: 1220px;
    height: 730px;
    border-radius: 20px;
    margin: 0px auto 50px;
}

#fill_txt{
    width: 1180px;
    height: 690px;
    margin: 20px auto;
}

h1{
    margin-top: 0px;
}
h1, h2{
    color: #171260;
    font-size: 64px;
}

p, div>p, #fill_txt>div{
    color: #171260;
    font-size: 40px;
}

.butt_fill{
    background-color: var(--btn-bg);
    color: var(--btn-text);
    width: 500px;
    height: 80px;
    font-size: 48px;
    border-radius: 10px;
    border-style: none;
    transition: background-color 0.5s;
    cursor: pointer;
}
.butt_fill:hover{
    background-color: var(--btn-hover);
}

#buttx2{
    width: 1100px;
    height: 80px;
    margin: 50px auto 0px;
    display: flex;
    gap: 100px;
}

#arrow{
    background-color: rgba(1, 1, 1, 0);
    width: 60px;
    height: 50px;
    border-style: none;
    position: absolute;
    bottom: 50px;
    right: 110px;
    cursor: pointer;
}
#arrow>img{
    width: 62px;
    height: 50px;
}

::selection{
    background-color: #5267af;
    color: #efefff;
}
