:root {
    --bg-color: #ffffff;
    --bg-sub-color: #b2c8ff;
    --text-main: #171260;
    --text-sub: #efefff;
    --btn-bg: #171260;
    --btn-text: #efefff;
    --btn-hover: #5267af;
}

body.dark-theme {
    --bg-color: #222676;
    --bg-sub-color: #171260;
    --text-main: #efefff;
    --text-sub: #171260;
    --btn-bg: #efefff;
    --btn-text: #171260;
    --btn-hover: #171260;
}

body, main, button{
    background-color: var(--bg-color);
    font-family: 'Comic Relief', monospace;
    margin: 0px;
}

#nav{
    width: 160px;
    height: 345px;
    position: absolute;
    top: 50px;
    left: 50px;
}
#nav_butt{
    width: 60px;
    height: 48px;
    background-color: rgba(1, 1, 0, 0);
    border-style: none;
    padding: 0px;
    margin-bottom: 25px;
    cursor: pointer;
}
#nav_butt{
    background-image: url(./img/Union.svg);
}
/* #nav_butt{
    background-image: url(./img/Union\ light.svg);
} */
#nav_fill>button{
    background-color: rgba(1, 1, 0, 0);
    color: var(--text-main);
    width: 160px;
    font-size: 32px;
    border: none;
    padding: 0px;
    margin-top: 25px;
    text-align: start;
    cursor: pointer;

}
#nav_fill>button:hover {
    color: #5267af;
}
#nav_fill{
    display: none;
}

#bg{
    background-color: var(--bg-sub-color);
    width: 1420px;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}

.sec{
    width: 650px;
    height: 900px;
    margin: 65px 30px 0px;
    display: inline-block;
}

.first{
    color: var(--text-main);
    width: 600px;
    height: 790px;
    border: 2px solid var(--text-main);
    border-radius: 10px;
    padding: 55px 25px 55px;
    margin-bottom: 65px;
}
label{
    height: 60px;
    font-size: 40px;
}
select{
    background-color: #efefff;
    color: #171260;
    width: 600px;
    height: 80px;
    font-family: 'Comic Relief', monospace;
    font-size: 32px;
    border-radius: 10px;
    border-style: none;
    padding: 0px 20px;
    appearance: none;
    cursor: pointer;
}
select:hover{
    background-color: #ffffff;
}
.item>button{
    background-color: var(--bg-sub-color);
    color: var(--text-main);
    width: 60px;
    height: 60px;
    font-family: 'Comic Relief', monospace;
    font-size: 40px;
    border-radius: 5px;
    border-style: none;
}
.day{
    width: 60px;
    height: 50px;
    font-size: 40px;
    padding-top: 10px;
}
.item{
    width: 60px;
    height: 58px;
    font-size: 40px;
}
#calendar{
    width: 600px;
    height: 598px;
    border-top: 2px solid var(--text-main);
    border-bottom: 2px solid var(--text-main);
    margin: 55px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.second{
    background-color: #5267af;
    height: calc(100vh - 65px);
    margin-top: 65px;
    border-radius: 10px 10px 0px 0px;
}
h1{
    color: #efefff;
    height: 67px;
    font-family: 'Comic Relief', monospace;
    font-size: 48px;
    margin: 55px 25px 23px;
}
hr{
    background-color: #efefff;
    height: 2px;
    border-style: none;
}

::selection{
    background-color: #5267af;
    color: #efefff;
}

.appointments{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 38px 25px;
    gap: 30px;
    overflow: auto;
    scrollbar-width: none;
    height: 782px;
}

.appt_item{
    box-sizing: border-box;
    width: 600px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    background-color: #efefff;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.appt_item:hover {
    background-color: #ffffff;
}

.text_content{
    font-family: 'Comic Relief',monospace;
    font-size: 40px;
    color: #171260;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.delete{
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    background-image: url(./img/Отмена.svg);
    background-size: 30px 30px;

}

.transfer{
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    background-image: url(./img/Перенос.svg);
    background-size: 40px 40px;
}
